<header>
    <div class="container">
        <a routerLink="/" class="logo">PC Shop</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a routerLink="/login-page">Login</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/register-page">Register</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
